{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="post">
  <!-- Include the CSRF token -->
  <input type="hidden" name="csrf_token" value="{{.CSRF_Token}}">
  <div>
      <label>
          Title:
      </label>
      <!-- Use the 'with' action to render the value of .Form.Field_of_Errors.title 
      if it is not empty. -->
      {{with .Form.Field_of_Errors.title}}
        <label class="error">{{.}}</label>
      {{end}}
      <!-- repopulate the title data by setting the 'value' attribute -->
      <input type="text" name="title" value="{{.Form.Title}}">
  </div>
  <div>
      <label>
        Content:
      </label>
      <!-- Likewise render the value of .Form.Field_of_Errors.content if it is empty. -->
      {{with .Form.Field_of_Errors.content}}
        <label class="error">{{.}}</label>
      {{end}}
      <!-- Repopulate the content field by setting it as the inner HTML of the textarea -->
      <textarea name="content">{{.Form.Content}}</textarea>
  </div>
  <div>
      <label>
        Delete in:
      </label>
      <!-- And render the value of .Form.Field_of_Errors.expiration-option if it is not empty. -->
      {{with .Form.Field_of_Errors.expires}}
        <label class="error">{{.}}</label>
      {{end}}
      <!-- Here we use the 'if' action to check if the 
      value of the repopulated expires field equals 365.
      If it does, then we rendered 'checked' attribute
      so that the radio input is selected.-->
      <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked{{end}}> One Year 
      <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7)}}checked{{end}}> One Week
      <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1)}}checked{{end}}> One Day
  </div>
  <div>
      <input type="submit" value="Publish snippet">
  </div>
</form>
{{end}}
